body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

/* Scrollbar Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(233, 96, 17, 0.7) rgb(0, 0, 0);
}

/* Scrollbar Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(233, 96, 17, 0.7);
}
